app/.venv/
app/*.pid
app/__pycache__/
app/.env
.env
*.env
.env.*
app/config/config.json
config/*.json
!app/config/sample_config.json
!app/config/aws_credentials_config.json
!app/config/IAMPolicyConfiguration.json

# Python virtual environment
.venv/
venv/
ENV/

# Logs
logs/
*.log

# Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE settings
.idea/
.vscode/
*.swp
*.swo